<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="etms.web.mapper.ExamParticipantMapper">
    <!-- ResultMap -->
    <resultMap id="ExamParticipantResultMap" type="etms.web.model.ExamParticipant">
        <association property="exam"
                     javaType="etms.web.model.Exam"
                     column="exam_id"
                     select="etms.web.mapper.ExamMapper.getExam"/>
        <association property="user"
                     javaType="etms.web.model.User"
                     column="uid"
                     select="etms.web.mapper.UserMapper.getUserUsingUid"/>
    </resultMap>
    <!-- Methods -->
    <select id="getNumberOfParticipantsOfExam"
            parameterType="long"
            resultType="long"
            useCache="true">
        SELECT COUNT(*)
        FROM etms_exam_participants
        WHERE exam_id = #{examId}
    </select>
    <select id="getParticipantsOfExam"
            parameterType="long"
            resultMap="ExamParticipantResultMap"
            useCache="true">
        SELECT *
        FROM etms_exam_participants
        WHERE exam_id = #{examId}
    </select>
    <select id="getParticipantOfExam"
            parameterType="map"
            resultMap="ExamParticipantResultMap"
            useCache="true">
        SELECT *
        FROM etms_exam_participants
        WHERE exam_id = #{examId}
          AND uid = #{uid}
    </select>
    <insert id="createExamParticipant"
            parameterType="etms.web.model.ExamParticipant"
            flushCache="true">
        INSERT INTO etms_exam_participants (exam_id, uid)
        VALUES (#{exam.examId}, #{user.uid})
    </insert>
    <delete id="deleteExamParticipant"
            parameterType="map"
            flushCache="true">
        DELETE
        FROM etms_exam_participants
        WHERE exam_id = #{exam.examId}
          AND uid = #{user.uid}
    </delete>
    <delete id="deleteExamAllParticipant"
            parameterType="map"
            flushCache="true">
        DELETE
        FROM etms_exam_participants
        WHERE exam_id = #{exam.examId}
    </delete>
</mapper>