<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="etms.web.mapper.LessonMapper">
    <!-- ResultMap -->
    <resultMap id="LessonResultMap" type="etms.web.model.Lesson">
        <id property="lessonId" column="lesson_id"/>
        <result property="isPublic" column="lesson_is_public"/>
        <result property="lessonName" column="lesson_name"/>
        <result property="description" column="lesson_description"/>
        <result property="hint" column="lesson_hint"/>
        <result property="lessonType" column="lesson_type"/>
        <result property="answer" column="lesson_answer"/>
        <result property="score" column="lesson_score"/>
    </resultMap>

    <!-- Methods -->
    <select id="getNumberOfLessons"
            resultType="long"
            useCache="true">
        SELECT COUNT(*)
        FROM etms_lessons
    </select>

    <select id="getNumberOfLessonsUsingFilters"
            parameterType="map"
            resultType="long"
            useCache="true">
        SELECT COUNT(DISTINCT(lesson_id))
        FROM etms_lessons
        <if test="keyword != null and keyword != ''">
            WHERE lesson_name LIKE "%"#{keyword}"%"
        </if>
    </select>

    <select id="getLowerBoundOfLessons"
            resultType="long"
            useCache="true">
        SELECT MIN(lesson_id)
        FROM etms_lessons
    </select>

    <select id="getUpperBoundOfLessons"
            resultType="long"
            useCache="true">
        SELECT MAX(lesson_id)
        FROM etms_lessons
    </select>

    <select id="getUpperBoundOfLessonsWithLimit"
            parameterType="map"
            resultType="long"
            useCache="true">
        SELECT MAX(lesson_id)
        FROM (
                 SELECT lesson_id
                 FROM etms_lessons
                 WHERE lesson_id >= #{lessonId}
                 LIMIT #{limit}
             ) p
    </select>

    <select id="getLesson"
            parameterType="long"
            resultMap="LessonResultMap"
            useCache="true">
        SELECT *
        FROM etms_lessons p
        WHERE lesson_id = #{lessonId}
    </select>

    <select id="getLessonsUsingFilters"
            parameterType="map"
            resultMap="LessonResultMap"
            useCache="true">
        SELECT DISTINCT(p.lesson_id), lesson_name
        FROM etms_lessons p
        WHERE p.lesson_id &gt;= #{lessonId}
        <if test="keyword != null and keyword != ''">
            AND lesson_name LIKE "%"#{keyword}"%"
        </if>
        <if test="lessonTagId != 0">
            AND lesson_tag_id = #{lessonTagId}
        </if>
        LIMIT #{limit}
    </select>

    <select id="getLessonsUsingFiltersAdmin"
            parameterType="map"
            resultMap="LessonResultMap"
            useCache="true">
        SELECT DISTINCT(p.lesson_id), lesson_name
        FROM etms_lessons p
        WHERE p.lesson_id &gt;= 0
        <if test="keyword != null and keyword != ''">
            AND lesson_name LIKE "%"#{keyword}"%"
        </if>
    </select>

    <insert id="createLesson"
            parameterType="etms.web.model.Lesson"
            flushCache="true"
            keyProperty="lessonId"
            keyColumn="lesson_id"
            useGeneratedKeys="true">
        INSERT INTO etms_lessons (lesson_name, lesson_description)
        VALUES (#{lessonName},#{description})
    </insert>

    <update id="updateLesson"
            parameterType="etms.web.model.Lesson"
            flushCache="true">
        UPDATE etms_lessons
        SET lesson_name          = #{lessonName},
            lesson_description   = #{description}
        WHERE lesson_id = #{lessonId}
    </update>

    <delete id="deleteLesson"
            parameterType="long"
            flushCache="true">
        DELETE
        FROM etms_lessons
        WHERE lesson_id = #{lessonId}
    </delete>
</mapper>